@import "tailwindcss";

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
